<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#DB0000" />
    <link rel="icon" href="./favicon.png" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <title>Sebal Apps</title>
  </head>
  <body>
    <skip-main-content></skip-main-content>
    <header>
      <app-bar></app-bar>
    </header>

    <jumbotron-element></jumbotron-element>

    <main id="mainContent" tabindex="0"></main>

    <footer>
      <footer-bar></footer-bar>
    </footer>
  </body>
</html>
