$primary-font: Poppins;
$background-color: #212524;
$background-secondary-color: #1b1e1c;
$orange-main: #fe6622;
$orang-secondary: #ffcdb7;
$blue-main: #006fee;
$blue-secondary: #c5d8e7;
$blue-hover: #1e0a9b;
$white: #ffffff;
$default-color: #e4e4e7;

* {
  font-size: 8px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
}

header {
}

// =======================================================

// skip content

.skip-link {
  position: absolute;
  top: -50px;
  left: 30px;
  font-size: 2rem;
  background: $background-color;
  color: $white;
  padding: 1.5rem 2rem;
  z-index: 200;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  &:focus {
    top: 10px;
  }
}

// =======================================================

// navbar

#navbar {
  background-color: $background-secondary-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(0.25turn, #fe6622, #f31260);
  border-image-slice: 1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
  text-decoration: none;
}

.logo > p {
  margin: 0;
  font-family: $primary-font;
  font-size: 5rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#fe6622, #f31260);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-desktop {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.nav-desktop li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  min-width: 44px;
}

.nav-desktop > li a {
  min-height: 44px;
  min-width: 44px;
  padding-block: 1rem;
  font-family: $primary-font;
  font-size: 3rem;
  text-decoration: none;
  color: $white;
  transition: color 0.3s;
  &:hover {
    color: $orange-main;
    font-weight: bold;
  }
}

#hamburger {
  font-size: 4rem;
  background: transparent;
  border: 0px;
  color: $white;
  cursor: pointer;
  display: none;
}

#drawer {
  width: 100%;
  height: 100vh;
  padding-block: 4rem;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background-color: $background-color;
  z-index: 1;
  display: flex;
  flex-direction: column;
  display: none;
}

#drawer.open {
  transform: translateX(0);
}

#drawer .nav-mobile {
  display: flex;
  margin: 0;
  padding-inline: 5rem;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

#drawer .nav-mobile li {
  min-height: 44px;
  min-width: 44px;
}

#drawer > .nav-mobile > li a {
  font-family: $primary-font;
  font-size: 3.5rem;
  padding-block: 1rem;
  color: $white;
  text-decoration: none;
  transition: color 0.3s;
  &:hover {
    color: $orange-main;
    font-weight: bold;
  }
}

// =======================================================

// jumbotron

.jumbotron {
  font-family: $primary-font;
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 100vh;
  overflow: hidden;
}

.jumbotron > .content {
  display: flex;
  padding: 0 0 5rem 5rem;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.jumbotron > .content > h1 {
  margin: 0;
  font-size: 8rem;
  background: -webkit-linear-gradient(#fe6622, #f31260);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbotron > .content > p {
  margin: 0;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 6rem;
}

// =======================================================

// header product

.search-product {
  font-family: $primary-font;
  text-align: center;
  font-size: 5rem;
  margin: 5rem 0 0 0;
}

// =======================================================
// product list

.menu {
  display: grid;
  margin: 5rem 10rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  column-gap: 4rem;
  row-gap: 4rem;
}

.menu1 {
  display: grid;
  margin: 5rem 10rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  column-gap: 4rem;
  row-gap: 4rem;
}

.menu2 {
  display: grid;
  margin: 5rem 10rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  column-gap: 4rem;
  row-gap: 4rem;
}

.menu3 {
  display: grid;
  margin: 8rem 40rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  column-gap: 4rem;
  row-gap: 4rem;
}

.product-item {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 1.5rem;
  padding: 2.5rem;
  gap: 2.5rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out, height 0ms;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item .product_item_picture {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
}

.product-item .product_item_name {
  font-family: $primary-font;
  font-weight: 400;
  margin: 0;
  font-size: 2.1rem;
}

.product-item .product_item_city,
.product-item .product_item_name {
  width: 100%;
}

.product-item .product_item_city {
  width: fit-content;
  font-family: $primary-font;
  font-weight: 700;
  margin: 0;
  font-size: 2.2rem;
}

.product-item .product_item_detail {
  font-family: $primary-font;
  font-weight: 700;
  text-align: justify;
  margin: 0;
  font-size: 3rem;
  color: $orange-main;
}

.container-img {
  width: 100%;
  background-color: $blue-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  padding: 3rem;
}

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_item_detail-button {
  width: 100%;
  background-color: $blue-main;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s;
}

.product_item_detail-button:hover {
  background-color: $blue-hover;
}

//

.detail-container {
  display: flex;
  flex-direction: column;
  padding-block: 22rem 10rem;
  width: 100%;
  padding-inline: 5rem;
  gap: 2rem;
}

.detail-content {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.detail-content > .text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product_detail_picture {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 2rem;
}

.product_detail_picture > img {
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

.product_detail_name {
  font-family: $primary-font;
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0;
  color: $white;
  margin: 0;
}

.city-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.product_detail_city {
  font-family: $primary-font;
  font-size: 2rem;
  color: #555;
  margin: 0;
}

.product_detail_rating {
  font-family: $primary-font;
  font-size: 4rem;
  font-weight: 700;
  color: $white;
  margin: 0;
}

.liked-rating {
  display: flex;
  gap: 1rem;
}

.like-button {
  background-image: url('../public/icons/fav-outline.svg');
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.like-button:hover {
  background-image: url('../public/icons/fav-fill.svg');
}

.liked-button {
  background-image: url('../public/icons/fav-fill.svg');
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.detail-container hr {
  margin-block: 2rem;
  width: 100%;
  height: 1.5px;
  color: gray;
  background-color: rgb(157, 156, 156);
  border-style: inset;
}

.product_detail_description {
  font-family: $primary-font;
  font-size: 2rem;
  line-height: 1.5;
  text-align: justify;
  color: $white;
  margin: 0;
}

.category-container {
  width: fit-content;
  display: flex;
  gap: 1.5rem;
}

.label {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  font-family: $primary-font;
}

.food-container,
.drink-container {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product_detail_category {
  font-family: $primary-font;
  display: inline-block;
  background-color: $orange-main;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  width: fit-content;
}

.review-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.review_item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review_item h2,
.review_item h3,
.review_item p {
  margin: 0;
  font-family: $primary-font;
}

.review_item h2 {
  font-size: 3rem;
}
.review_item h3 {
  font-size: 2rem;
  font-weight: 500;
}
.review_item p {
  font-size: 2rem;
}
//

.add-review-container {
  width: 100%;
  margin-block: 6rem 0;
  padding: 3rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-review-container h2 {
  font-family: $primary-font;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #000000;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.input-container label {
  font-family: $primary-font;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}

.add-review-container input[type='text'],
.add-review-container textarea {
  font-family: $primary-font;
  width: 100%;
  padding: 1.5rem;
  font-size: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
  box-sizing: border-box;
}

.add-review-container textarea {
  min-height: 100px;
  resize: vertical;
}

.add-review-container input:focus,
.add-review-container textarea:focus {
  outline: none;
  border-color: #ffc312;
  box-shadow: 0 0 3px rgb(255, 230, 0);
}

.submit-button {
  width: 100%;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #ffc312;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #e0a800;
}

//

.favorite-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15rem;
  padding-inline: 25rem;
}

.search-home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  padding-inline: 40rem;
}

.search-header {
  display: flex;
  font-family: $primary-font;
  color: $orange-main;
  font-size: 5rem;
  margin: 0;
}

.favorite-header {
  display: flex;
  font-family: $primary-font;
  font-size: 5rem;
  margin: 0;
}

.favorite {
  display: grid;
  margin: 8rem 40rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 4rem;
}

// =======================================================
.bottom {
  background-color: $background-secondary-color;
  width: 100%;
}

.bottom p {
  color: $white;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: $primary-font;
  padding: 2.5rem;
}

.product-not-found {
  font-family: $primary-font;
  text-align: center;
  font-size: 2rem;
  color: gray;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #9ca3af;
  border-radius: 5px;
}

#query {
  background-color: transparent;
  color: $default-color;
  width: 100%;
  font-family: $primary-font;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid $default-color;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.skeleton {
  user-select: none;
  background-color: #eeeeee;
  color: #eeeeee;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.detail-content {
  display: flex;
  gap: 5rem;
}

.price {
  font-family: $primary-font;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  background-color: $orang-secondary;
  color: $orange-main;
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
}

.checkout {
  display: flex;
  font-size: 3rem;
  align-items: center;
  border-radius: 1.5rem;
  background-color: $blue-main;
  color: $white;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.checkout:hover {
  display: flex;
  background-color: $blue-hover;
}

.cta-checkout {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cta-back {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.cta-back > button {
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  font-family: $primary-font;
  font-size: 4rem;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0.2rem 2rem;
  cursor: pointer;
}

.cta-back > button:hover {
  background-color: $white;
  color: $background-color;
}

.cta-back > p {
  align-self: center;
  font-family: $primary-font;
  font-size: 3rem;
  font-weight: 500;
  color: $white;
  margin: 0;
}

.dashboard {
  min-height: 44px;
  min-width: 44px;
  font-family: $primary-font;
  font-size: 3rem;
  background-color: $blue-main;
  cursor: pointer;
  transition: color 0.3s;
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 2rem;
}

.dashboard:hover {
  background-color: $blue-hover;
}

.strip-container {
  right: 0;
  overflow: hidden;
  width: 60%;
}

.jumbotron-strip {
  transform: rotate(-0.03turn);
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.jumbotron-strip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out, height 0ms;
}

.jumbotron-strip-container img {
  padding: 3rem 1rem;
  background-color: $white;
  width: 300px;
  object-fit: cover;
}

.category-item {
  background-color: $background-secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  border-radius: 1.5rem;
  padding: 2.5rem;
  gap: 2.5rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out, height 0ms;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.category-item:hover {
  transform: translateY(-5px);
}

.category-item .product_item_picture {
  height: 200px;
  border-radius: 1.5rem;
  object-fit: cover;
}

.category-item .product_item_detail {
  font-family: $primary-font;
  font-weight: 700;
  text-align: justify;
  margin: 0;
  font-size: 3rem;
  color: $orange-main;
}

.header-category {
  font-family: $primary-font;
  color: $white;
  font-size: 5rem;
  margin: 12rem 10rem 0rem 10rem;
}

.header-release {
  font-family: $primary-font;
  color: $white;
  font-size: 5rem;
  margin: 0;
}

.view-all-products {
  font-family: $primary-font;
  color: $white;
  font-size: 3rem;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $orang-secondary;
  }
}

.release-home {
  display: flex;
  // width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 10rem;
}
