@media screen and (max-width: 1200px) {
  .bar-container {
    padding-inline: 4rem;
  }
  .search-product,
  .favorite-header,
  .search-header {
    font-size: 4rem;
  }
  .menu,
  .favorite {
    margin: 4rem 8rem;
    column-gap: 3rem;
    row-gap: 3rem;
  }

  .detail-container {
    padding: 18rem 2rem;
  }

  .favorite-container,
  .search-home-container {
    padding-inline: 0rem;
  }

  .detail-content {
    flex-direction: column;
    padding-inline: 3rem;
  }

  .cta-back {
    padding-inline: 3rem;
  }

  .product_detail_picture {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .jumbotron > .content {
    margin-inline: 2rem;
  }

  .jumbotron > .content > h1 {
    font-size: 3rem;
  }

  .jumbotron > .content > p {
    font-size: 2rem;
    line-height: 4rem;
    width: 80%;
  }

  .brH1 {
    display: block;
  }

  .break {
    display: none;
  }

  .jumbotron > .content > .button {
    font-size: 2rem;
  }
  .search-product,
  .favorite-header,
  .search-header {
    font-size: 3rem;
  }
  .menu,
  .favorite {
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .img-container > img {
    border-radius: 0;
    width: 100%;
  }
  .detail-container {
    margin-block: 2rem 0;
    padding-inline: 0;
  }
  .detail-container > .text-container {
    padding-inline: 3rem;
    margin-top: 0;
  }
  .description {
    text-align: justify;
    width: 100%;
  }
  .add-review-container {
    margin-block: 0;
    border: none;
  }

  .favorite-container,
  .search-home-container {
    flex-direction: column;
    gap: 2rem;
    padding-inline: 8rem;
  }

  .search-container,
  #query {
    width: 100%;
  }

  .detail-content > .text-container {
    gap: 2rem;
  }

  .cta-back {
    padding: 3rem;
  }

  .price,
  .checkout {
    font-size: 2.5rem;
  }

  .strip-container {
    right: 0;
    overflow: hidden;
    width: 60%;
  }

  .jumbotron-strip-container img {
    padding: 0rem;
    width: 300px;
    object-fit: cover;
  }
}

@media screen and (max-width: 670px) {
  .nav-desktop {
    display: none;
  }

  #drawer {
    display: flex;
  }

  #hamburger {
    display: block;
  }
}
